# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc

# =========================
# ENV FILES
# =========================

.env

# =========================
# VITE
# =========================

dist/

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# DATABASE
# =========================

*.sqlite3

# =========================
# BUILD FILES
# =========================

build/
coverage/